.loader-spinner{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    border: solid rgb(224, 221, 0);
    border-bottom-width: 10px ;
    border-top-width: 10px;
    border-left-width: 10px ;
    border-right-width: 10px;
    transition: all .5s ease-in-out;
    animation: loader-spinner-animation 4s ease-in-out infinite ;
    text-align: center;
    margin: 0 auto;
}@keyframes loader-spinner-animation{
    0%{
    }
    25%{
        border-bottom-width: 0px ;
        border-top-width: 0px;
    }
    50%{
        border-left-width: 0px ;
    }
    75%{
        border-right-width:40px;
        border-left-width: 10px ;
        border-bottom-width: 5px ;
        border-top-width: 5px;
    }
    100%{
        transform: rotate(720deg);
    }
}